@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/playfairdisplay/v13/2NBgzUtEeyB-Xtpr9bm1Cbe3AsAJmdYwF3n7gHK4QTQ.eot);
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/raleway/v12/JDau3G46nqY5-B-S9E_nwg.eot);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot);
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/rubik/v7/0f976ZfzmmYp7Tv7T3DB3A.eot);
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/spectral/v4/qhLZpQkMMhKE3c6RGb9nd_esZW2xOQ-xsNqO47m55DA.eot);
}
